.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.dot {
  position: relative;
  border-radius: 40px;
  width: 18px;
  height: 18px;
  background-color: white;
  border: 1px solid black;
  // animation: dot 1s cubic-bezier(0, 0, 1, .9) infinite;
}

.gps {
  width: 40px;
  height: 40px;
  transform: skew(0deg, -20deg);
  animation: bounce 1.5s ease-in-out infinite;
}

.ping {
  position: absolute;
  width: fit-content;
  background-color: white;
  border-radius: 40px;
  width: 1.2rem;
  height: 1.2rem;
  opacity: 0.75;
  transform: translate(0%, 90%);
  animation: ping 1.4s cubic-bezier(0, 0, 1, 0.9) infinite;
}

@keyframes ping {
  0% {
    transform: translate(0%, 90%) scale(1);
    opacity: 0.75;
  }
  75%,
  100% {
    transform: translate(0%, 90%) scale(2);
    opacity: 0;
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); /* Adjust to set the bounce height */
  }
}
